<nav class="navbar navbar-expand-lg  bg-black">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse row" id="navbarSupportedContent">
        <div class="d-flex justify-content-center col-12 logo-wrap">
            <img class="logo" src="https://gray-wbay-prod.cdn.arcpublishing.com/resizer/v2/4ALOBDTT3RJ3BOCBIWYK5JGYYM.jpg?auth=87c8a6c85991ad72ea8b65782d00a8283c8867c9025d06411fa5197fa88d87bd&width=800&height=450&smart=true" alt="" >
        </div>
        <div class="mt-1">
            <div class="row d-flex justify-content-between">
                <div class="col-2 text-center"><a href="#episode1" class="episode">Episode 1</a> </div>
                <div class="col-2 text-center" ><a href="#episode2" class="episode">Episode 2 </a></div>
                <div class="col-2 text-center" ><a href="" class="episode">Episode 3 </a></div>
                <div class="col-2 text-center" ><a href="" class="episode">Episode 4 </a></div>
                <div class="col-2 text-center" ><a href="" class="episode">Episode 5 </a></div>
                <div class="col-2 text-center" ><a href="" class="episode">Episode 6 </a></div>
            </div>
        </div>
      </div>
    </div>
</nav>
<div class="background">
    <router-outlet></router-outlet>
</div>