<nav class="navbar navbar-expand-lg bg-black" *ngIf="showNavbar | async">
    <div class="container-fluid">
        <button class="navbar-toggler bg-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse row" id="navbarSupportedContent">
            <div class="d-flex justify-content-center col-12 logo-wrap">
                <img [routerLink]="['/']" class="logo" src="https://gray-wbay-prod.cdn.arcpublishing.com/resizer/v2/4ALOBDTT3RJ3BOCBIWYK5JGYYM.jpg?auth=87c8a6c85991ad72ea8b65782d00a8283c8867c9025d06411fa5197fa88d87bd&width=800&height=450&smart=true" alt="" >
            </div>
            <div class="mt-1 d-none d-lg-block">
                <div class="row d-flex justify-content-between">
                    <div class="col-2 text-center" *ngFor="let episode of episodes; index as i">
                        <a (click)="scrollToElement(episode)" class="episode">Episode {{i + 1}}</a>
                    </div>
                </div>
            </div>
            <div class="mt-1 d-lg-none">
                <ul class="navbar-nav">
                    <li class="nav-item mt-1 d-flex justify-content-center" *ngFor="let episode of episodes; index as i">
                        <a class="nav-link" (click)="scrollToElement(episode)" class="episode">Episode {{i + 1}}</a>
                    </li>
                </ul>              
            </div>
        </div>
  </div>
</nav>
<div class="background">
  <router-outlet></router-outlet>
</div>
