<div class="container-fluid mb-3" style="background-image: url('https://i.pinimg.com/originals/fb/2d/19/fb2d193eeacd7483b652d86d155112d8.jpg');">
    <div class="row d-flex justify-content-center align-items-center">
        <div class="card d-flex justify-content-center mt-3" id="episode1">
            <div class="col-12 col-lg-3 text-center">
                <h3 class=" text-white bg-black">Star Wars: Episode 1</h3>
                <h4 class=" text-white bg-black">The Phantom Menace</h4>
                <button type="button" class="btn see-more-btn px-3" (click)="goToFilm(4)">See more</button>
            </div>
        </div>
        <div class="card d-flex justify-content-center align-items-end mt-3" id="episode2">
            <div class="col-12 col-lg-3 text-center">
                <h3 class=" text-white bg-black">Star Wars: Episode 2</h3>
                <h4 class=" text-white bg-black">Attack of the Clones</h4>
                <button type="button" class="btn see-more-btn px-3" (click)="goToFilm(5)">See more</button>
            </div>
        </div>
        <div class="card d-flex justify-content-center align-items-start mt-3" id="episode3">
            <div class="col-12 col-lg-3 text-center">
                <h3 class=" text-white bg-black">Star Wars: Episode 3</h3>
                <h4 class=" text-white bg-black">Revenge of the Sith</h4>
                <button type="button" class="btn see-more-btn px-3" (click)="goToFilm(6)">See more</button>
            </div>
        </div>
        <div class="card d-flex justify-content-center align-items-end mt-3" id="episode4">
            <div class="col-12 col-lg-3 text-center">
                <h3 class=" text-white bg-black">Star Wars: Episode 4</h3>
                <h4 class=" text-white bg-black">A New Hope</h4>
                <button type="button" class="btn see-more-btn px-3" (click)="goToFilm(1)">See more</button>
            </div>
        </div>
        <div class="card d-flex justify-content-center align-items-start mt-3" id="episode5">
            <div class="col-12 col-lg-3 text-center">
                <h3 class=" text-white bg-black">Star Wars: Episode 5</h3>
                <h4 class=" text-white bg-black">The Empire Strikes Back</h4>
                <button type="button" class="btn see-more-btn px-3" (click)="goToFilm(2)">See more</button>
            </div>
        </div>
        <div class="card d-flex justify-content-center align-items-end mt-3" id="episode6">
            <div class="col-12 col-lg-3 text-center">
                <h3 class=" text-white bg-black">Star Wars: Episode 6</h3>
                <h4 class=" text-white bg-black">Return of the Jedi</h4>
                <button type="button" class="btn see-more-btn px-3" (click)="goToFilm(3)">See more</button>
            </div>
        </div>
    </div>
    <br>
</div>
