<div class="container-fluid">
    <div class="row d-flex justify-content-center align-items-center mt-3">
        <div class="card d-flex justify-content-center" id="episode1">
            <div class="col-12 col-lg-3 text-center">
                <h3 class=" text-white">Star Wars: Episode I</h3>
                <h4 class=" text-white">The Phantom Menace</h4>
                <button type="button" class="btn see-more-btn px-3" (click)="goToFilm(4)">See more</button>
            </div>
        </div>
        <div class="card d-flex justify-content-center align-items-end mt-3" id="episode2">
            <div class="col-12 col-lg-3 text-center">
                <h3 class=" text-white">Star Wars: Episode 2</h3>
                <h4 class=" text-white">Attack Of The Clones</h4>
                <button type="button" class="btn see-more-btn px-3" (click)="goToFilm(5)">See more</button>
            </div>
        </div>
    </div>
</div>
